---
import Layout from '../layouts/Layout.astro';
import HowItWorks from '../components/HowItWorks.astro';
import Hero from '../components/Hero.astro';
import BackgroundBlurToRight from '../components/BackgroundBlurToRight.astro';
import BackgroundBlurToLeft from '../components/BackgroundBlurToLeft.astro';
import About from '../components/About.astro';
import Contact from '../components/Contact.astro';
import Backbutton from '../components/Backbutton.astro';
import Header from '../components/Header.astro';
---
<Layout title="My Grocery App">

	<div class="bg-dark" id="mygroceryapp">
		
		<Header />
	  
		<div class="relative mt-10">
			<BackgroundBlurToRight />
			<Hero />
			<HowItWorks />
			<About />
			<Contact />
			<BackgroundBlurToLeft />
		</div>

	</div>
	
	<footer class="top-0 z-50 mt-40 w-full xl:px-0 lg:px-4 m-auto ">
		<div class="flex m-auto justify-center">
			<a href="#" class="-m-1.5 p-1.5">
				<span class="sr-only">My Grocery App</span>
				<img class="h-8 w-auto" src="/mygroceryapp.png" alt="">
			</a>
		</div>
	</footer>
	
	<Backbutton />
	
	</div>
	  
</Layout>

<script>
    const button = document.querySelector('button')
    const menu = document.getElementById('menu-items')
	const backBtn = document.getElementById('back-btn')
    button.addEventListener('click', () => {
      menu.classList.toggle('hidden')
    })
	
	backBtn.addEventListener('click', () => {
		window.scrollTo(0, 0);
    })

	window.onscroll = function() {scrollFunction()};

	function scrollFunction() {
		if (document.body.scrollTop > 80 || document.documentElement.scrollTop > 80) {
			backBtn.style.display = "block";
		// menu.classList.toggle('hidden')
		} else {
			backBtn.style.display = "none";
		}
	}

</script>


