---
import Layout from '../layouts/Layout.astro';
import HowItWorks from '@components/HowItWorks.astro';
import Hero from '@components/Hero.astro';
import BackgroundBlurToRight from '@components/BackgroundBlurToRight.astro';
import BackgroundBlurToLeft from '@components/BackgroundBlurToLeft.astro';
import About from '@components/About.astro';
import Contact from '@components/Contact.astro';
import Backbutton from '@components/BackButton.astro';
import Header from '@components/Header.astro';
import Roadmap from '@components/Roadmap.astro';
import Footer from '@components/Footer.astro';
---
<Layout title="My Grocery App">

	<div class="bg-dark" id="mygroceryapp">
		
		<Header />
	  
		<div class="relative mt-10">
			<BackgroundBlurToRight />
			<Hero />
			<HowItWorks />
			<About />
			<Roadmap />
			<Contact />
			<BackgroundBlurToLeft />
		</div>

	</div>
	
	<Footer />
	
	<Backbutton />
	
	</div>
	  
</Layout>

<script>
    const button = document.querySelector('button')
    const menu = document.getElementById('menu-items')
	const backBtn = document.getElementById('back-btn')

    button.addEventListener('click', () => {
      menu.classList.toggle('hidden')
    })
	
	backBtn.addEventListener('click', () => {
		window.scrollTo(0, 0);
    })

	window.onscroll = function() {scrollFunction()};

	function scrollFunction() {
		if (document.body.scrollTop > 80 || document.documentElement.scrollTop > 80) {
			backBtn.style.display = "block";
			
			menu.classList.remove('block')
			
		} else {
			backBtn.style.display = "none";
			menu.classList.add('hidden')
		}
	}

	menu.addEventListener('click', (e) => {
		e.stopPropagation()
	})
	button.addEventListener('click', (e) => {
		e.stopPropagation()
	})
	
	window.addEventListener('click', () => {
		menu.classList.add('hidden')
	})

</script>


