---
---
<!-- ABOUT TITLE -->
<div id="about" class="flex w-11/12 m-auto justify-center gap-x-20 mt-20">
    <div class="how-it-works-title p-4 rounded-lg self-center xl:max-w-[460px] lg:max-w-[360px] mb-2">
        <span class="text-white font-semibold text-3xl uppercase">About</span>
    </div>
</div>
<div class="bg-gradient-to-r mb-20 w-40 m-auto opacity-50 from-indigo-500 via-purple-500 to-pink-500 h-[1px]"></div>

<!-- ABOUT SECTION -->
<div class="flex w-11/12 m-auto justify-center gap-x-20">
    <div class="hero-title self-center">
        <p class="font-semibold text-white xl:text-2xl lg:text-xl text-center max-w-[760px]">
            At My Grocery App, we believe in simplifying the grocery list. Our app is designed to help users with an efficient experience.
            <br /><br />
            Say goodbye to complexity!
            <br /><br />
            <a href="#contact" class="text-sm md:text-xl bg-MGA-purple text-black rounded-full text-white md:px-10 px-5 md:px-6 lg:px-10 py-3 mr-5">Have questions or suggestions?</a>
            
        </p>
    </div>
</div>