---
---
<div id="back-btn" class="hidden fixed p-4 text-white bottom-10 right-10 bg-MGA-purple">^</div>
<script>
</script>
<style>
    html{scroll-behavior: smooth;}
    #back-btn{cursor: pointer;}
</style>