
<div class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-70rem)]" aria-hidden="true">
    <div class="relative left-[calc(20%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[240deg] bg-gradient-to-tr from-[#242424] to-MGA-purple opacity-20 sm:w-[100rem]" style="clip-path: polygon(100%)"></div>
</div>