---
const AccessKey = import.meta.env.WEBFORM;

---

<script src="https://web3forms.com/client/script.js" async defer></script>

<div class="flex items-center min-h-screen md:-mt-[350px] -mt-[90px] md:-mb-[300px] -mb-[100px]">
    <div class="container mx-auto">
        <div class="max-w-md mx-auto my-10 p-5 rounded-md shadow-sm">
            <div class="m-7">
                <form action="https://api.web3forms.com/submit" method="POST" id="form">
                    <input type="hidden" name="access_key" value={AccessKey}>
                    <input type="hidden" name="subject" value="New Submission from your Website" />
                    <input type="checkbox" name="botcheck" id="" style="display: none;" />
    
                    <div class="mb-6">
                        <label for="name" class="block mb-2 text-sm text-white">Full Name</label>
                        <input type="text" name="name" id="name" placeholder="First and Last Name" required class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500" />
                    </div>
                    <div class="mb-6">
                        <label for="email" class="block mb-2 text-sm text-white">Email Address</label>
                        <input type="email" name="email" id="email" placeholder="you@company.com" required class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500" />
                    </div>
                    <div class="mb-6">
                        <label for="phone" class="text-sm text-white">Phone Number</label>
                        <input type="text" name="phone" id="phone" placeholder="+1 (555) 1234-567" required class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500" />
                    </div>
                    <div class="mb-6">
                        <label for="message" class="block mb-2 text-white">Your Message</label>
                        <textarea rows="5" name="message" id="message" placeholder="Your Message" class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500" required></textarea>
                    </div>
                    <div class="mb-6">
                        <div id="g-captcha" class="h-captcha hidden" data-captcha="true"></div>
                    </div>
                    <div class="mb-6">
                        <button type="submit" class="w-full px-3 py-4 text-white bg-indigo-500 rounded-md focus:bg-indigo-600 focus:outline-none">
                            Send Message
                        </button>
                    </div>
                    <p class="text-base text-center text-gray-500" id="result"></p>
                </form>
            </div>
        </div>
      </div>
    </div>
    
<script>
    
    const form = document.getElementById('form');
    const result = document.getElementById('result');
    
    const txtMessage = document.getElementById('message');
    const gCaptcha = document.getElementById('g-captcha');

    txtMessage.addEventListener('focus', function(e) {
        if(e.target.name == "message" ){
            gCaptcha.style.display = "block";
        }else{
            gCaptcha.className = "hidden";
        }
        
    });
    

    form.addEventListener('submit', function(e) {
        const formData = new FormData(form);
        e.preventDefault();
    
        const object = Object.fromEntries(formData);
        const json = JSON.stringify(object);
    
        result.innerHTML = "Please wait..."

        const hCaptcha = form.querySelector('textarea[name=h-captcha-response]').value;

        if (!hCaptcha) {
            e.preventDefault();
            alert("Please fill out captcha field")
            return
        }
    
        fetch('https://api.web3forms.com/submit', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'Accept': 'application/json'
                },
                body: json
            })
            .then(async (response) => {
              let json = await response.json();
              if (response.status == 200) {
                result.innerHTML = json.message;
                result.classList.remove("text-gray-500");
                result.classList.add("text-green-500");
              } else {
                console.log(response);
                result.innerHTML = json.message;
                result.classList.remove("text-gray-500");
                result.classList.add("text-red-500");
              }
            })
            .catch((error) => {
              console.log(error);
              result.innerHTML = "Something went wrong!";
            })
            .then(function() {
                form.reset();
                setTimeout(() => {
                    result.style.display = "none";
                }, 3000);
            });
    });

</script>