---

---

<!-- HOW IT WORKS TITLE -->
<div id="how-it-works" class="flex w-11/12 m-auto justify-center gap-x-20 mt-20">
	<div class="how-it-works-title p-4 rounded-lg self-center xl:max-w-[460px] lg:max-w-[360px] mb-2">
		<span class="text-white font-semibold text-3xl uppercase">how it works</span>
	</div>
</div>
<div class="bg-gradient-to-r mb-20 w-40 m-auto opacity-50 from-indigo-500 via-purple-500 to-pink-500 h-[1px]"></div>

<!-- MAKE YOU LIST SECTION -->
<div class="flex flex-col md:flex-row w-11/12 m-auto justify-center gap-x-20">
	<div class="lg:w-[400px] xl:w-auto">
		<img src="/make-your-list.png" class="w-[200px] m-auto" alt="">
	</div>
	<div class="self-center xl:max-w-[460px] max-w-[360px]">
		<h2 class="text-MGA-purple text-center md:text-left font-semibold text-3xl xl:text-4xl uppercase">make your list</h2>
		<p class="font-semibold text-center md:text-left text-white xl:text-4xl text-3xl">add all the products you need from the grocery store.
		</p>
	</div>
</div>

<!-- YOU IN CONTROL SECTION -->
<div class="flex mt-20 flex-col-reverse md:flex-row w-11/12 m-auto justify-center gap-x-20">
	<div class="self-center xl:max-w-[460px] max-w-[360px]">
		<h2 class="text-MGA-purple text-center md:text-left font-semibold text-3xl xl:text-4xl uppercase">you in control</h2>
		<p class="font-semibold text-center md:text-left text-white xl:text-4xl text-3xl">checkout the price while shopping to have an idea how much you are spending.</p>
	</div>
	<div class="lg:w-[400px] xl:w-auto">
		<img src="/you-in-control.png" class="w-[250px] m-auto" alt="">
	</div>
</div>

<!-- SAVE MONEY SECTION -->
<div class="flex w-11/12 mt-20 flex-col md:flex-row m-auto justify-center gap-x-20">
	<div class="lg:w-[400px] xl:w-auto">
		<img src="/save-money.png" class="w-[250px] m-auto" alt="">
	</div>
	<div class="self-center xl:max-w-[460px] max-w-[360px]">
		<h2 class="text-MGA-purple text-center md:text-left font-semibold text-3xl xl:text-4xl uppercase">save money</h2>
		<p class="font-semibold text-center md:text-left text-white xl:text-4xl text-3xl">
			never spend more than you need.
			<br /><br />
			never get surprised at the end of the grocery shop</p>
	</div>
</div>