---
---
<!-- ROADMAP TITLE -->
<div id="contact" class="flex w-11/12 m-auto justify-center gap-x-20 mt-20">
    <div class="how-it-works-title p-4 rounded-lg self-center xl:max-w-[460px] lg:max-w-[360px] mb-2">
        <span class="text-white font-semibold text-3xl uppercase">Roadmap</span>
    </div>
</div>
<div class="bg-gradient-to-r mb-20 w-40 m-auto opacity-50 from-indigo-500 via-purple-500 to-pink-500 h-[1px]"></div>

<!-- ROADMAP SECTION -->
<div class="flex w-11/12 m-auto justify-center gap-x-20">
    <div class="hero-title self-center">
        <p class="font-semibold text-white xl:text-2xl lg:text-xl">
            
            <ul>
                <li>
                    <div class="flex relative">
                        <span class="w-px h-4 bg-white left-7 top-9 absolute">&nbsp;</span>
                        <div class="flex flex-row">
                            <div class="bg-[#5C5470] w-14 h-7 pt-[3px] pl-3 rounded-full">2024</div>
                            <div class="text-white ml-3 mt-1 ">Public release</div>
                        </div>
                    </div>
                </li>
                <li class="mt-8">
                    <div class="flex relative">
                        <span class="w-px h-4 bg-white left-7 top-9 absolute">&nbsp;</span>
                        <div class="flex flex-row">
                            <div class="bg-[#5C5470] w-14 h-7 pt-[3px] pl-3 rounded-full">2024</div>
                            <div class="text-white ml-3 mt-1 ">Beta Open for iOS and Android</div>
                        </div>
                    </div>
                </li>
                <li class="mt-8">
                    <div class="flex relative">
                        <span class="w-px h-4 bg-white left-7 top-9 absolute">&nbsp;</span>
                        <div class="flex flex-row">
                            <div class="bg-[#9EC8B9] w-14 h-7 pt-[3px] pl-3 rounded-full">2024</div>
                            <div class="text-white ml-3 mt-1 ">Beta Open for Web App</div>
                        </div>
                    </div>
                </li>
                <li class="mt-8">
                    <div class="flex relative">
                        <span class="w-px h-4 bg-white left-7 top-9 absolute">&nbsp;</span>
                        <div class="flex flex-row">
                            <div class="bg-[#9EC8B9] w-14 h-7 pt-[3px] pl-3 rounded-full">2023</div>
                            <div class="text-white ml-3 mt-1 ">Prototype tests ended</div>
                        </div>
                    </div>
                </li>
                <li class="mt-8">
                    <div class="flex relative">
                        <span class="w-px h-4 bg-white left-7 top-9 absolute">&nbsp;</span>
                        <div class="flex flex-row">
                            <div class="bg-[#9EC8B9] w-14 h-7 pt-[3px] pl-3 rounded-full">2023</div>
                            <div class="text-white ml-3 mt-1 ">Prototype Done</div>
                        </div>
                    </div>
                </li>
                <li class="mt-8">
                    <div class="flex relative">
                        <span class="w-px h-4 bg-white left-7 top-9 absolute">&nbsp;</span>
                        <div class="flex flex-row">
                            <div class="bg-[#9EC8B9] w-14 h-7 pt-[3px] pl-3 rounded-full">2022</div>
                            <div class="text-white ml-3 mt-1 ">Wireframes done</div>
                        </div>
                    </div>
                </li>
                <li class="mt-8">
                    <div class="flex relative">
                        
                        <div class="flex flex-row">
                            <div class="bg-[#9EC8B9] w-14 h-7 pt-[3px] pl-3 rounded-full">2022</div>
                            <div class="text-white ml-3 mt-1 ">Research</div>
                        </div>
                    </div>
                </li>
            </ul>
            
        </p>
    </div>
</div>