---
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<meta property="og:title" content="My Grocery App - Sign up for FREE">
		<meta property="og:type" content="article" />
		<meta property="og:description" content="Simplify your small groceries.">
		<meta property="og:image" content="https://mygroceryapp.ca/share-mygroceryapp.png">
		<meta property="og:url" content="http://mygroceryapp.ca">
		<meta name="twitter:card" content="My Grocery App - Simplify your small groceries.">
		<title>{title}</title>
		<!-- MailerLite Universal -->
		<script>
			(function(w,d,e,u,f,l,n){w[f]=w[f]||function(){(w[f].q=w[f].q||[])
			.push(arguments);},l=d.createElement(e),l.async=1,l.src=u,
			n=d.getElementsByTagName(e)[0],n.parentNode.insertBefore(l,n);})
			(window,document,'script','https://assets.mailerlite.com/js/universal.js','ml');
			ml('account', '769839');
		</script>
		<!-- End MailerLite Universal -->
		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-PNJFRG2QJF"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', 'G-PNJFRG2QJF');
		</script>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;600&display=swap');
	*{
		font-family: 'Sen', sans-serif;
		touch-action: manipulation;
	}
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
		background-size: 224px;
		overflow-x: hidden;
	}
</style>
